.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}
.product-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.product-image {
  align-self: center;
  height: 150px;
  width: 150px;
  object-fit: contain;
}

.product:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
